<div class="col-md-6 mx-auto">
<%= form_for(@post) do |f| %>
  <div class="field">
    <%= f.text_area :content, class: "form-control", placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-info form-control" %>
<% end %>
</div>
